In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
df = pd.read_csv('kyphosis.csv')
df.head(10)
# kyphosis -> if the patient has kyphosis or not
# age -> age of the patient
# number -> number of vertebrae involved in the kyphosis
# start -> start of the kyphosis

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15
5   absent    1       2     16
6   absent   61       2     17
7   absent   37       3     16
8   absent  113       2     16
9  present   59       6     12

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Kyphosis  81 non-null     object
 1   Age       81 non-null     int64
 2   Number    81 non-null     int64
 3   Start     81 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.7+ KB

- starting the EDA

In [ ]:
sns.pairplot(df, hue='Kyphosis')